@model IEnumerable<MuseAndMasterpiece.Models.ArtworkDto>

<h1 class="text-center my-4">Artwork List</h1>

<div class="mb-4">
    <a asp-action="Add" class="btn btn-primary btn-lg">Add New Artwork</a>
</div>

<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Artist</th>
                <th>Year</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artwork in Model)
            {
                <tr>
                    <td>@artwork.ArtWorkId</td>
                    <td>@artwork.Title</td>
                    <td>@artwork.CategoryName</td>
                    <td>@artwork.ArtistName</td>
                    <td>@artwork.DatePosted</td>
                    <td class="text-center">
                        <a class="btn btn-info" href="@Url.Action("Details", "ArtworkPage", new { id = artwork.ArtWorkId })">View Details</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning" href="@Url.Action("Edit", "ArtworkPage", new { id = artwork.ArtWorkId })">Edit</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger" href="@Url.Action("ConfirmDelete", "ArtworkPage", new { id = artwork.ArtWorkId })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
