@model MuseAndMasterpiece.Models.UpdateArtistDto

<div class="text-center">
    <h1>Edit Artist</h1>
</div>

<form asp-action="Edit" method="post">
    <input type="hidden" name="ArtistId" value="@Model.ArtistId" />

    <div class="form-group">
        <label for="Name">Artist Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label for="Bio">Bio</label>
        <input type="text" class="form-control" id="Bio" name="Bio" value="@Model.Bio" required />
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
    </div>
</form>

<div class="text-center my-3">
    <a asp-action="Details" asp-route-id="@Model.ArtistId" class="btn btn-primary btn-sm">Back to Details</a>
    <a asp-action="List" class="btn btn-secondary btn-sm">Back to List</a>
</div>
